.card img {
    height: 200px;
}

main {
    margin-top: 5rem;
    flex-grow: 1;
}

.outer-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.imgcart{
    width: 20px;
}
.nav-link{
    color: black;
}

.fas.fa-heart{
    color: red;
}
